.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
}

#background {
  width: 100%;
  height: 100%;
  fill: white;
}


/* main.css */

.dateLabel,
.timeLabel,
.rhrLabel,
.atLabel {
  fill: white;
  font-size: 36;
}

.heartRateLabel {
  font-size: 64;
  color: black;
}

.text24 {
  font-size: 24px;
}

.text48 {
  font-size: 48px;
}

.row1,
.row2,
.row3 {
  width: 100%;
}

.row1,
.row3 {
  height: 25%;
}

.row2 {
  height: 50%;
}

.timeLabel,
.atLabel {
  text-anchor: end;
}
