#heartRateLabel {
  font-size: 130;
  fill: black;
  font-weight: bold;
}

#zoneLabel {
  fill: black;
  font-size: 40;
}

#batteryLabel {
  font-size: 36;
  fill: white;
}

#timeValue {
  font-size: 70;
  fill: white;
}

#ampmValue {
  font-size: 36;
  fill: white;
}

.rhrLabel {
  font-size: 40;
  fill: white;
}

#rhrValue {
  fill: white;
  font-size: 70;
}

.atLabel {
  font-size: 40;
  fill: white;
}

#atValue {
  fill: white;
  font-size: 70;
}

#dayValue {
  font-size: 30;
  fill: white;
}

#dateValue {
  font-size: 30;
  fill: white;
}