#heartRateLabel {
  font-size: 130;
  fill: black;
  font-weight: bold;
}

#zoneLabel {
  fill: black;
  font-size: 40;
}

#batteryValue {
  font-size: 30;
  fill: white;
}

#batteryIcon {
  opacity: 0.5;
  height: 15;
  width: 30;
}

#batteryBar {
  opacity: 0.5;
  height: 9;
  width: 1;
  fill: white;
}

#batteryCharging {
  opacity: 0.8;
  height: 9;
  width: 30;
}

#timeValue {
  font-size: 70;
  fill: white;
}

#ampmValue {
  font-size: 36;
  fill: white;
}

.rhrLabel {
  font-size: 40;
  fill: white;
}

#rhrValue {
  fill: white;
  font-size: 70;
}

.atLabel {
  font-size: 40;
  fill: white;
}

#atValue {
  fill: white;
  font-size: 68;
}

#dayValue {
  font-size: 30;
  fill: white;
}

#dateValue {
  font-size: 30;
  fill: white;
}

.statsTitle {
  font-size: 36;
  fill: white;
  font-weight: bold;
}

.statsLabel {
  font-size: 28;
  fill: #B3B3B3;
}

.statsValue {
  font-size: 72;
  fill: white;
  font-weight: bold;
}

.pageIndicator {
  font-size: 22;
  fill: #666666;
}